---
layout: default
title: about - catskull.net
---
{% include topnav.html %}

<div class="grid">
  <div style="min-width: 14rem;width: 16rem;height: fit-content;">
    <div id="portrait">
      <video autoplay loop muted>
        <source src="public/images/portrait.webm" type="video/webm">
        <img src="public/images/portrait.webp"/>
      </video>
      <div title="*not actually live." id="live-tag">
        <svg height="12px" width="12px" class="blinking">
          <circle cx="6px" cy="6px" r="6px" fill="red" />
    Sorry, your browser does not support inline SVG.
        </svg>
        <span>Live</span>
      </div>
    </div>
    <table class="monospace">
      <thead>
        <tr>
          <th><mark>Consulting Services</mark></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul style="list-style-type: none;padding: 0;">
              <li>
                <div class="list-container">
                  <span>30-minute call</span>
                  <span class="dot-leader"></span>
                  <span>$100</span>
                </div>
              </li>
              <li>
                <div class="list-container">
                  <span>your project</span>
                  <span class="dot-leader"></span>
                  <span>$???</span>
                </div>
              </li>
                <p class="mini">
                  I will get on a call with you and your team. Contact me with an agenda and if I'm interested I will respond.
                </p>
                <div style="text-align: center;">
                  <a href="mailto:dave@bullpen.dev?cc=hello@bullpen.dev&subject=Re%3A%20Consulting%20Services">dave@bullpen.dev</a>
                  <br>
                  <a href="https://bullpen.dev" target="_blank">The Bullpen</a>
                </div>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    {% for list in site.data.about.lists %}
      <table class="monospace">
        <thead>
          <tr>
            <th>{{ list[0] }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul>
                {% if list[1][0].name %}
                  {% assign items = list[1] | sort: 'name' %}
                {% else %}
                  {% assign items = list[1] | sort %}
                {% endif %}
                {% for item in items %}
                  <li>
                  {% if item.url %}
                    <a href="{{item.url}}" target="_blank">
                      {{ item.name }}
                    </a>
                  {% elsif item.name %}
                    {{ item.name }}
                  {% else %}
                    {{ item }}
                  {% endif %}
                  </li>
                {% endfor %}
                {% if list[0] == 'Friends' %}
                  <li><a href="mailto:bro@catskull.net?subject=I want to be your friend.&body=My name is [NAME] and I want to be your friend.%0AHere is my website: [INSERT LINK HERE].%0AWe will be good friends because: [we both like tacos].">
                    You?
                  </a></li>
                {% endif %}
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    {% endfor %}
  </div>
  <div style="min-width: 20rem;width: 22rem;">
    {% for section in site.data.about.tables %}
    <table class="monospace">
      <thead>
        {% assign max_length = 12 %}
        <tr>
          <th colspan="{{ max_length }}">{{section[0]}}</th>
        </tr>
      </thead>
      <tbody>
        {% for row in section[1] %}
        <tr>
          {% assign row_size = row.size %}
          {% assign colspan = max_length | divided_by: row_size %}
          {% for data in row %}
          <td colspan="{{ colspan }}">
            <div class="label">{{ data[0] }}</div>
            <div class="content">{{ data[1] }}</div>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
    <table class="monospace">
      <thead>
        <tr>
          <th>Bio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
<p>
I am a creative technologist and product developer. My greatest career accomplishment has been leading internship programs, working closely with early-career engineers to help them navigate the transition into full-time work. I have great coworkers and managers to thank for my success, and together we’ve built startups that have collectively sold for over $1.5 billion. I’m happiest when I’m deep in the product-development cycle, and I’ve been able to use my skills and perspective to deliver products that help consumers navigate the most complicated financial processes of their lives—home and auto purchases. I founded a hardware company, fully bootstrapped, and grew it to $80k in yearly revenue while working full-time at a startup. This led me to work with artists, musicians, and technologists across the world. I love building products to solve customers’ problems.
</p><p>
My greatest fulfillment comes from my wife of 13 years and our four children. We live in Southern Utah and love spending time together. Each of my kids has a unique personality and brings a lot of extra insight into life.
</p><p>
I am always researching everything. As a kid, I dreamed of having a Game Boy full of books. In my teens, I wanted a “Hitchhiker’s Guide to the Galaxy” to carry around as a reference. Now I have an iPhone with Wikipedia on it, and I read it. Surprisingly, I’m not very interested in reading most books, but I like reading about books—and anything else—on Wikipedia. The more I learn, the more similar things become. What I really appreciate is people. Perspectives. I am so fascinated that my earnestness is often misinterpreted as judgment. People have an infinite capacity to adapt and find happiness. Ultimately, I’m on a personal journey to live my life to the fullest extent possible. Self-awareness and authenticity help me get the most out of life.
</p><p>
This website is somewhere in between a journal, project log, portfolio, exhibit, utility, reference, tech demo, and junk drawer. It’s my personal home page.
</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
