---
layout: home
title: blog - catskull.net
---
{% include topnav.html %}

<h2>random wiki</h2>

{% assign wikis = '' | split: '' %}
{% for item in site.data.wiki %}
  {% assign wikis = wikis | concat: item[1] %}
{% endfor %}
{% assign wiki = wikis | sample %}

<h3 style="margin:0;"><a href="/wiki#{{wiki.title | slugify}}" data-target="{{wiki.title | slugify}}">{{wiki.title}}</a></h3>
<p style="margin-top:0;">{{ wiki.extract }}</p>
<small>{{ wiki.created | date: "%-m/%-d/%y" }} {% include external_link.html href=wiki.url text="Wikipedia" %}</small>

<h2>latest mastodon post</h2>

<rss-feed url="https://mastodon.social/@dareelcatskull.rss"></rss-feed>

<h2>current newsletter</h2>

<ul id="newsletter-list">
  {% assign post = site.newsletters.first %}
  <li class="index-list-item">
    <time datetime="{{ post.created | date: '%Y-%m-%dT%H:%M:%SZ' }}">{{ post.created | date: site.theme_config.date_format }}</time>
    <h3 class="index-list-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
  </li>
</ul>

<h2>blog</h2>
{% include random.html %}

<ul id="index-list">
{% for post in site.posts %}
    <li class="index-list-item">
      <time datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%SZ' }}">{{ post.date | date: site.theme_config.date_format }}</time>
      <h3 class="index-list-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      {% if post.tags != empty %}
        <ul class="post-tags">
          {% assign atags = post.tags | sort %}
          {% for tag in atags %}
            <li>#{{ tag | replace: ' ', '-' }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
{% endfor %}
</ul>

<footer>
  <mark><a href="/likes"><sup>*</sup>Likes</a></mark>
  <a href="/archive">archive</a>
  <a href="/feed.xml">RSS</a>
</footer>
<script src="https://catskull.net/public/js/components/rss-feed.js" rel="preload"></script>

