---
layout: home
title: blog - catskull.net
---
<h2>blog</h2>

<ul id="index-list">
{% for post in site.posts %}
  {% if post.category contains "post" %}
    <li class="index-list-item">
      <time datetime="post.date">{{ post.date | date: site.theme_config.date_format }}</time>
      <h3 class="index-list-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    </li>
  {% endif %}
{% endfor %}
</ul>

<footer>
  <a href="/archive">archive</a>
  <a href="/uses">uses</a>
  <a href="/projects">projects</a>
  <mark><a href="/likes"><sup>*</sup>Likes</a></mark>
  <a href="/feed.xml">RSS</a>
</footer>
