html {
  -webkit-font-smoothing: antialiased !important;
}

p {
  word-wrap: break-word;
}

.gallery {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.gallery img {
  margin-bottom: 0;
}

#gallery_subtitle {
  margin-bottom: 0;
  padding-top: 10px;
}

#gallery_nav {
  max-width: 600px;
  margin-top: -100px;
  text-align: initial;
}

#gallery_nav  p{
  max-width: 100%;
  font-size: 100px;
  margin-bottom: 0;
  display: inline;
  cursor: default;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

#gallery_nav p:hover {
  color: grey;
}

#gallery_nav_right {
  float: right;
}

#gallery_pos_text {
  margin: 0 auto;
  padding-top: 20px;
}

.tile {
  width: 18em;
  padding-left: 15px;
  text-align: center;
  /*float: left;*/
  display: inline-block;
}

.tile img {
  margin-bottom: 2px;
}

.tile a {
  color: inherit;
}

.tile p {
  /*color: pink;*/
}

.cart-button {
  float: right;
}

.cart-button input {
  width: 5rem;
  padding-top: 3em;
}

.countdown {
  padding-top: 20px;
  max-width: 100%
}

/*.container {
  max-width: 28rem;
}*/

select {
  font-size: 0.8rem;
  background-color: #fff;
}

table {
  max-width: 100%;
}

.comments {
  padding-top: 1rem;
  border-top-style: dashed;
}

::selection {
  background: #ffeb99; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffeb99; /* Gecko Browsers */
}

img::selection {
  background: none;
}

img::-moz-selection {
  background: none;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
}

@media (min-width: 56em) {
  select {
    font-size: 1rem;
    background-color: #fff;
  }

  table {
    max-width: 75%;
  }

  input[type=text] {
    font-size: 1rem;
  }

}

.product-callout {
    position: relative;
}

.product-callout .after {
    position: absolute;
    top: 0;
    left: 15px;
    text-align: left;
    background-color: #FCF200;
    border-radius: 0 0 7px 0;
    border-style: none solid solid none;
    border-width: 2px;
    border-color: #515151;
}

.product-callout .after p {
    color: #515151;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 0;
}
