{% comment %}
cerpy perste:
{% include figure.html
	src="public/media/posts/frick/you.jpeg"
	alt=""
	caption=""
	href=""
	right=1 
	left=1
%}
{% endcomment %}
{% assign href = include.link | default: include.href | default: false %}
{% if href %}
  {% assign icon = "↗" %}
{% else %}
  {% assign icon = "┅" %}
{% endif %}


<figure
	class="img-frame {%if include.right%}right{%elsif include.left%}left{%elsif include.full%}full{%endif%}"
	onclick="this.classList.toggle('full');"
	>
	<div id="figure-container">
	{% if href %}
	<a href="{{ href }}" target="_blank" onclick="event.stopPropagation();">
	{% endif %}
	{% if include.caption %}
		<figcaption>{{include.caption}}<span class="img-icon">{{icon}}</span></figcaption>
	{% endif %}
	<img src="{{include.src}}" alt="{{include.alt}}">
	{% if href %}
	</a>
	{% endif %}
	</div>
</figure>
