<header class="site-header">

  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 10%">
        <div id="header">
          <h4>David W. DeGraw</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns" id="navigation">
        <div class="three columns nav-item">
          <a href="about.html">
            About
          </a>
        </div>
        <div class="three columns nav-item">
          <a href="index.html">
            Blog
          </a>
        </div>
        <div class="three columns nav-item">
          <a href="resume.html">
            Resume
          </a>
        </div>
        <div class="three columns nav-item">
          <a href="follow.html" style="width:100%">
            Follow
          </a>
        </div>
      </div>
    </div>
  </div>


</header>
