<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {% capture seo_tag_output %}
    {% seo title=false %}
  {% endcapture %}
  {{ seo_tag_output | replace: " />", ">" | replace: "/>", ">" }}
  <link type="application/atom+xml" rel="alternate" href="https://catskull.net/feed.xml" title="catskull.net">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="icon" href="/favicon.png">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="me" href="https://mastodon.social/@dareelcatskull">
  <meta name="fediverse:creator" content="@dareelcatskull@mastodon.social">
  <meta property="og:image" content="{{ "/assets/opengraph.webp" | relative_url }}">
  {% if page.name == 'index.html' %}
    <link rel="preload" href="/public/images/logos/davysgray.webp" as="image" type="image/webp" />
  {% endif %}
</head>
