<header class="site-header">

  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 10%">
        <div id="header">
          <h4>David W. DeGraw</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns" id="navigation">
        <a href="/about.html">
          <div class="three columns nav-item">
            About
          </div>
        </a>
        <a href="/index.html">
          <div class="three columns nav-item">
              Blog
          </div>
        </a>
        <a href="/resume.html">
          <div class="three columns nav-item">
            Resume
          </div>
        </a>
        <a href="/follow.html">
          <div class="three columns nav-item">
            Follow
          </div>
        </a>
      </div>
    </div>
  </div>


</header>
