<header>
{% unless page.name == "index.html" %}
<div>catskull.net</div>
{% endunless %}
<nav aria-label="Main">
  <ul>
    <li>
      {% if page.name == "index.html" %}
        <a href="/" aria-current="page"><mark>home</mark></a>
      {% else %}
        <a href="/">home</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "about.html" %}
        <a href="/about" aria-current="page"><mark>about</mark></a>
      {% else %}
        <a href="/about">about</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "uses.html" %}
        <a href="/uses" aria-current="page"><mark>uses</mark></a>
      {% else %}
       <a href="/uses">uses</a>
      {% endif %}
    </li>
    <li>
    	{% if page.name == "projects.md" %}
    		<a href="/projects" aria-current="page"><mark>projects</mark></a>
  		{% else %}
  			<a href="/projects">projects</a>
  		{% endif %}
    </li>
    <li>
    	{% if page.name == "quotes.md" %}
    		<a href="/quotes" aria-current="page"><mark>quotes</mark></a>
  		{% else %}
  			<a href="/quotes">quotes</a>
  		{% endif %}
    </li>
    <li>
      {% if page.name == "notes.md" %}
        <a href="/notes" aria-current="page"><mark>notes</mark></a>
      {% else %}
        <a href="/notes">notes</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "recipes.md" %}
        <a href="/recipes" aria-current="page"><mark>recipes</mark></a>
      {% else %}
        <a href="/recipes">recipes</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "playlist.md" %}
        <a href="/playlist" aria-current="page"><mark>playlist</mark></a>
      {% else %}
        <a href="/playlist">playlist</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "replies.md" %}
        <a href="/replies" aria-current="page"><mark>replies</mark></a>
      {% else %}
        <a href="/replies">replies</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "newsletter.md" %}
        <a href="/newsletter" aria-current="page"><mark>newsletter</mark></a>
      {% else %}
        <a href="/newsletter">newsletter</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "clouds.md" %}
        <a href="/clouds" aria-current="page"><mark>clouds</mark></a>
      {% else %}
        <a href="/clouds">clouds</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "bookshelf.md" %}
        <a href="/bookshelf" aria-current="page"><mark>bookshelf</mark></a>
      {% else %}
        <a href="/bookshelf">bookshelf</a>
      {% endif %}
    </li>
    {% if false %}
    <li>
      {% if page.name == "feeds.md" %}
        <a href="/feeds" aria-current="page"><mark>feeds</mark></a>
      {% elsif false %}
        <a href="/feeds">feeds</a>
      {% endif %}
    </li>
    {% endif %}
    <li>
      {% if page.name == "podcast.md" %}
        <a href="/podcast" aria-current="page"><mark>podcast</mark></a>
      {% else %}
        <a href="/podcast">podcast</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "wiki.html" %}
        <a href="/wiki" aria-current="page"><mark>wiki</mark></a>
      {% else %}
        <a href="/wiki">wiki</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "kids.md" %}
        <a href="/kids" aria-current="page"><mark>parenting</mark></a>
      {% else %}
        <a href="/kids">parenting</a>
      {% endif %}
    </li>
  </ul>
</nav>
</header>
