{% unless page.name == "index.html" %}
catskull.net
{% endunless %}
<nav>
  <ul>
    <li>
      {% if page.name == "index.html" %}
        <mark>home</mark>
      {% else %}
        <a href="/">home</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "about.html" %}
        <mark>about</mark>
      {% else %}
        <a href="/about">about</a>
      {% endif %}
    </li>
    <li>
      {% if page.name == "uses.md" %}
        <mark>uses</mark>
      {% else %}
       <a href="/uses">uses</a>
      {% endif %}
    </li>
    <li>
    	{% if page.name == "projects.md" %}
    		<mark>projects</mark>
  		{% else %}
  			<a href="/projects">projects</a>
  		{% endif %}
    </li>
    <li>
    	{% if page.name == "quotes.md" %}
    		<mark>quotes</mark>
  		{% else %}
  			<a href="/quotes">quotes</a>
  		{% endif %}
    </li>
  </ul>
</nav>
