@font-face {
    font-family: "Berkeley Mono";
    src: url('/assets/font/BerkeleyMonoVariable-Regular.woff2');
    font-weight: 100 150;
    font-style: normal;
  }


@font-face {
    font-family: "Berkely Mono";
    src: url('/assets/font/BerkeleyMonoVariable-Italic.woff2');
    font-weight: 100 150;
    font-style: italic;
  }

:root {
  color-scheme: light dark;
}


html { height: 100%; }

body {
  color: black;
  font-family: 'Berkeley Mono', monospace;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 100;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h3, h4, h5, h6 { font-weight: 500; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

ul { list-style-type: '- '; }

a:visited { color: inherit; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: hsl(120, 2%, 9%);
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
  border-left: 1px solid white;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background: hsl(120, 2%, 9%);
    color: rgb(215, 215, 216);
  }

  blockquote {
    border: thin solid rgb(215, 215, 216);
  }

  a {
    color: hsl(206.7, 100%, 70%);
  }

  a:visited {
    color: inherit;
  }


}