---
---

.final {
  &:before { content: 'LI' }
  &:after { content: attr(data-content) 'KE?' }
}

.typo {
	text-decoration-style: wavy;
	text-decoration: underline;
	text-decoration-color: red;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  margin-top: 1rem;

  h1, .post-meta {
    margin: 0;
  }

  h1 {
  	border-bottom: solid 2px;
  	padding-right: 1rem;
  }
}

.index-list-item {
  list-style-type: none;
  border-left: 2px solid;
  margin-bottom: 2rem;
  padding-left: 8px;
}

.index-list-title {
  margin: -5px 0;
}

.highlight {
  padding: 0 2rem 0 1rem;
}

ul ul {
  list-style-type: initial;
  padding-inline-start: 1rem;
}

sup a {
  text-decoration: none;
}

.projects-section {
  margin-bottom: 3rem;

  h2 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  svg {
    padding-right: 2px;
  }
  .status-tag {
    display: flex;
    align-items: center;
  }
}

.img-frame {
  background-image: repeating-linear-gradient(
    45deg,       /* angle of the lines */
    rgb(100,100,100) 0,      /* start color (black) */
    rgb(100,100,100) 1px,    /* end color (black) and width of the line */
    transparent 0px, /* start of transparent space after the line */
    transparent 0.5rem  /* end of transparent space (controls the spacing between lines) */
  );
  padding: 5%;
  box-sizing: border-box;
  margin-top: 1rem;
}
.img-frame img {
  height: auto;
  margin: auto;
  border-style: solid;
  filter: saturate(0) contrast(200%);
  transition: filter 0.5s ease;
  border-color: hsl(120, 2%, 9%);
}

.img-frame img:hover {
  filter: saturate(150%) contrast(100%);
}

code {
  line-height: 13px;
}

aside {
  float: left;
  max-width: 60%;
  margin-right: 2rem;
}

.blinking {
  animation: 2s blink ease infinite;
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .img-frame {
    background-image: repeating-linear-gradient(
      45deg,       /* angle of the lines */
      rgb(150,150,150) 0,      /* start color (black) */
      rgb(150,150,150) 1px,    /* end color (black) and width of the line */
      transparent 0px, /* start of transparent space after the line */
      transparent 0.5rem  /* end of transparent space (controls the spacing between lines) */
    );
  }
}

@media screen and (max-width: 600px) {
  .highlight {
    padding: 0;
  }

  .post-header {
    flex-direction: column-reverse;
    h1 {
      margin-bottom: 0.5em;
    }
  }

  #index-list {
    padding-left: 0;
  }

  blockquote {
    margin: 1rem 0;
  }

  aside {
    float: none;
    max-width: 100%;
    margin: 0 0 2rem 0;
  }
}


@import "no-style-please";