---
---
@use 'monospace.scss' as *;
@use 'highlight.css' as *;

@font-face {
  font-family: "Berkeley Mono";
  src: url('/assets/font/BerkeleyMonoVariable-Regular.woff2');
  font-weight: 100 150;
  font-style: normal;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url('/assets/font/BerkeleyMonoVariable-Italic.woff2');
  font-weight: 100 150;
  font-style: italic;
}

:root {
  color-scheme: light dark;
}

* {
  cursor: url('/assets/Cursor79.webp'), auto;
}

a, button, [role="button"], [type="button"], [type="submit"], input[type="button"], input[type="submit"], input[type="reset"], label {
  cursor: url('/assets/Pointer98.webp'), pointer;
}

html {
  height: 100%;
}

body {
  --main-color: black;
  --main-bg-color: white;
  color: var(--main-color);
  font-family: 'Berkeley Mono', monospace;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 100;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

strong, h2, h1, h3, h4, h5, h6 {
  font-weight: 500;
}

h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}

hr {
  margin: 2rem 0;
  text-align: center;
  border: 0;

  &:before {
    content: '/////';
  }

  &:after {
    content: attr(data-content) '/////';
  }
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

ul {
  list-style-type: '- ';
}

a:visited {
  color: inherit;
}

*:target {
  background: yellow;
  color: black;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

table {
  width: 100%;
}

table, th, td {
  border: thin solid;
  border-collapse: collapse;
  padding: 0.4rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p {
    margin: 0;
  }
}

img, video {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  color: solid;
}

@media (prefers-color-scheme: dark) {
  body {
    --main-bg-color: hsl(120, 2%, 9%);
    --main-color: rgb(215, 215, 216);
    background: var(--main-bg-color);
    color: var(--main-color);
  }

  blockquote {
    border: thin solid rgb(215, 215, 216);
  }

  a {
    color: hsl(206.7, 100%, 70%);
  }

  a:visited {
    color: inherit;
  }

  .img-frame {
    background-image: repeating-linear-gradient(
      45deg,       /* angle of the lines */
      rgb(150,150,150) 0,      /* start color (black) */
      rgb(150,150,150) 1px,    /* end color (black) and width of the line */
      transparent 0px, /* start of transparent space after the line */
      transparent 0.5rem  /* end of transparent space (controls the spacing between lines) */
    );

    figcaption {
      color: hsl(120, 2%, 9%);
    }
  }

  #portrait video {
    opacity: 0.5;
  }
}

.final {
  &:before {
    content: 'LI';
  }

  &:after {
    content: attr(data-content) 'KE?';
  }
}

.typo {
  text-decoration-style: wavy;
  text-decoration: underline;
  text-decoration-color: red;
}

.post-header {
  margin-top: 1rem;

  h1, .post-meta {
    margin: 0;
  }

  h1 {
    border-bottom: solid 2px;
    padding-right: 1rem;
  }
}

sup {
  font-size: 10px;
}

.index-list-item {
  list-style-type: none;
  border-left: 2px solid;
  margin-bottom: 2rem;
  padding-left: 8px;
}

.index-list-title {
  margin: -5px 0;
}

.highlight {
  padding: 0;
}

.footnotes {
  font-size: small;

  p {
    margin: 0;
  }
}

ul ul {
  list-style-type: initial;
  padding-inline-start: 1rem;
}

sup a {
  text-decoration: none;
}

.post-tags {
  display: inline-flex; /* or use display: flex */
  flex-wrap: wrap; /* Allows tags to wrap to the next line if there's not enough space */
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding-right: 0.5rem;
    margin: 0;
    font-size: 0.7rem;
    color: dimgrey;
    cursor: context-menu;
  }
  li:hover {
    color: unset;
  }
}

.projects-section {
  margin-bottom: 3rem;

  h2 {
    margin: 0;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a[href^="#"]:before {
      content: "#";
      display: inline-block;
      font-size: .7em;
      line-height: 1;
      margin-left: -.8em;
      text-decoration: none;
      visibility: hidden;
      width: .8em;
    }

    a[href^="#"]:hover:before {
      visibility: visible;
    }
  }

  p {
    margin: 0;
  }

  svg {
    padding-right: 2px;
  }

  .status-tag {
    display: flex;
    align-items: center;
  }
}

.img-frame {
  background-image: repeating-linear-gradient(
    45deg,       /* angle of the lines */
    rgb(100,100,100) 0,      /* start color (black) */
    rgb(100,100,100) 1px,    /* end color (black) and width of the line */
    transparent 0px, /* start of transparent space after the line */
    transparent 0.5rem  /* end of transparent space (controls the spacing between lines) */
  );
  padding: 5%;
  box-sizing: border-box;
  margin-top: 1rem;
  cursor: zoom-in;
}

.img-frame.full {
  position: fixed;
  top: 0;
  left: 0;
  cursor: zoom-out;
  margin: 0;
  align-content: center;
  max-width: initial !important;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.45);
  figcaption {
    font-size: large;
  }
}

.img-frame img {
  filter: saturate(0) contrast(10);
  transition: filter .3s;
  width: 100%;
}

.img-frame:hover img {
    filter: saturate(2);
}

.img-frame figcaption {
  background: white;
  border-style: solid;
  border-color: hsl(120, 2%, 9%);
  text-align: left;
  width: calc(100% - 10px);
  padding: 5px;
  font-size: small;
  border-bottom: 0;
}

.img-frame.right {
  max-width: 60%;
  float: right;
}

.img-frame.left {
  max-width: 60%;
  float: left;
  margin: 0 2ch 0 0;
}

.img-frame img {
  background: dodgerblue;
}

.img-icon {
  float: right;
}

.img-frame-center {
  margin: 0;
  padding: 2rem 4rem;
}

.ascii-table {
  border-left: none !important;
  font-size: 70%;
  padding: 0 !important;
  white-space: pre !important;
  color: unset;
  background: unset;
}

aside {
  float: left;
  max-width: 60%;
  margin-right: 2rem;

  figure {
    margin: 0;
  }
}

figure {
  img {
    border-style: solid;
    border-color: hsl(120, 2%, 9%);
  }

  figcaption {
    text-align: center;
    font-size: smaller;
  }
}

.right {
  float: right;
  margin: 0;
}

.blinking {
  animation: 2s blink ease infinite;
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .post-header {
    flex-direction: column-reverse;

    h1 {
      margin-bottom: 0.5em;
    }
  }

  #index-list {
    padding-left: 0;
  }

  blockquote {
    margin: 1rem 0;
  }

  aside {
    float: none;
    max-width: 100%;
    margin: 0;

    figure {
      text-align: center;
      margin: 0;
    }
  }

  .img-frame {
    max-width: 100% !important;
    float: initial !important;
    margin: 0 !important;
  }
}

section#quotes {
  margin-left: 1rem;

  > blockquote {
    border: initial;
    border-left: solid;
    margin: 0 1rem;
    padding: 0 1rem;
  }

  > p {
    margin: 0.5rem 0 2rem 0;
  }
}

#portrait video {
  width: 100%;
  display: block;
}

#live-tag {
  cursor: help;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 4px 0;
  color: initial;
  padding: 0 3px;
  span {
    filter: invert(1);
  }
}

.dot-leader {
  border-bottom-style: dotted;
  border-bottom-width: 0.3ch;
  margin: 3px 5px;
}

body:has(figure.full) {
  overflow: hidden;
}

#figure-container {
  margin: 0 auto;
}
@media (orientation: landscape) {
  #figure-container {
    max-width:75vh;
    img {
      max-height: 80cqh;
    }
  }
}
@media (orientation: portrait) { #figure-container { max-width:75vw; } }

page-likes a {
  color: LinkText;
  text-decoration: underline;
}
