<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="sidebar-overlay">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <div class="masthead-title">
            <a href="/" title="Home">
              <img src="/public/images/logos/1.png" alt="catskull.net The blog of David W. DeGraw">
            </a>
          </div>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script src="{{ site.baseurl }}public/js/scripts.js"></script>
    <div id="app"></div>
    <script src="https://use.fontawesome.com/04e9ab8340.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey("pk_live_2BuwSQddlUchyIhBHq5OnOqF");
    </script>
    <script>var widgetGuid = "243000dd-5c38-45d1-95df-5afe2244febb"</script>
    <script src="https://s3.amazonaws.com/truss-public/bundle.js"></script>
  </body>
</html>
