---
layout: default
---
{% if page.category contains "old" %}
  {% assign link = "/archive" %}
{% else %}
  {% assign link = "/" %}
{% endif %}
<header>
  <nav>
    <a href="{{ link }}">{{ site.theme_config.back_home_text }}</a>
  </nav>
</header>

<main>
  <article>
    <header class="post-header">
      <h1><i>{{ page.title }}</i></h1>
      <time class="post-meta" datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
    </header>

    <section>
      {{ content }}
    </section>
</article>
<footer>
  <a style="float: right;" href="/feed.xml">RSS</a>
</footer>
</main>