---
layout: default
---
<header>
  <nav>
    {% if page.category == "old" %}
      <a href="/">{{ site.theme_config.back_home_text }}</a> / <a href="/archive">archive</a> /
      {% assign link = "/archive" %}
    {% else %}
      <a href="/">{{ site.theme_config.back_home_text }}</a> /&nbsp;{%- if page.collection == "newsletters" -%}<a href="/newsletter">newsletter</a> / {%- endif -%}
    {% endif %}
  </nav>
</header>

<main>
  <article>
    <header class="post-header">
      <time class="post-meta" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%SZ' }}">{{ page.date | date: site.theme_config.date_format }}</time>
      <h1><i>{{ page.title }}</i></h1>
      {% if page.tags != empty %}
        <ul class="post-tags">
          {% assign atags = page.tags | sort %}
          {% for tag in atags %}
            <li>#{{ tag | replace: ' ', '-' }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </header>

    <section>
      {{ content }}
    </section>
</article>
<hr class="final">
<div style="text-align:center;">
  <page-likes></page-likes>
</div>
<page-replies open default="https://catskull.net/public/images/outlook_express-4.png"></page-replies>

<footer style="float: right;">
  {% unless page.collection == "newsletters" %}{% include random.html %}{% endunless %}
  <a href="/newsletter">newsletter</a><sup><mark>(new)</mark></sup>
  <a href="/">{{ site.theme_config.back_home_text }}</a>
</footer>
</main>

<script src="https://catskull.net/public/js/components/replies.js"></script>
<script src="https://catskull.net/public/js/components/likes.js"></script>
